body { 
	padding-top: 70px;
}

a {
    font-size: 22px;
}

.donation-main {
	height: 500px;
	width: 400px;
    margin-left: 27%;
    background: yellow;
}

.description {
    height: 350px;
    width: 300px;
    background: pink;
    margin-left: 50px;
}

.block-one {
    border: 1px solid #d3d3d3;
    min-height: 310px;
}

.buttons-end {
    padding-top: 20px;
}

p {
    font-size: 22px;
    color: #696969
}

.btn-lg {
    font-size: 26px;
}

.form-control {
    height: 54px;
}

#save-for-later {
    padding-left: 0;
}

#btn-one, #btn-two {
    font-size: 18px;
    padding: 16px 45px;
    background-color: #eee;
    color: #696969;
}

#time-left {
    color: #df5a00;
}

.modal-backdrop {
  background-color: #ffffff;
}


